      #add {
        background: rgba(65, 57, 49, 0.5); 
        z-index: 1;
        border-color: #D1AE7A;
      }
      .well {
        position: fixed;
        bottom: 0px;
        display: block;
        background: rgba(65, 57, 49, 0.5); 
        z-index: 1;
        border-color: #D1AE7A;
        width: 100%;
      }
      .background-about {
        max-width: 100%;
        max-height: 100%;
      }
      .content-style-overlay {
       background: rgba(65, 57, 49, 0.5); 
      }
      button.about-button {
         background: rgba(65, 57, 49, 0.001); 
         border: 2px solid #4D3823;
      }
            button.about-button:hover {
transition: 0.5s all;
  background: rgba(0,0,0,0.25);
      }