.background-about {
  max-height: 100%;
  max-width: 100%;
 }
 
.background-wood {
  left: 0;
  opacity: 0.5;
  position: fixed;
  top: -100px;
  width: 100%;
  z-index: -1;
 }
 
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background: #7c7c7c; /* fallback for old browsers */
  background: -moz-linear-gradient(right, #7c7c7c, #7c7c7c);
  background: -o-linear-gradient(right, #7c7c7c, #7c7c7c);
  background: -webkit-linear-gradient(right, #7c7c7c, #7c7c7c);
  background: linear-gradient(to left, #7c7c7c, #7c7c7c);
  font-family: "Roboto", sans-serif;
  padding-top: 300px; /* sets body to start under navbar*/
 }
 
.brand-name {
  max-height: 300px;
  max-width: 300px;
  z-index: 1;
 }
 
button.about < img {
  opacity: .5;
  overflow: hidden;
 }
 
button.about-button {background: rgba(0,0,0,0.25);}
 
  button.about-button:hover {
    background: rgba(65, 57, 49, 0.001);
    border: 2px solid #4D3823;
    transition: 1s all;
   }
 
.content-style-overlay {background: rgba(65, 57, 49, 0.5);}
 
form {background: rgba(0, 0, 0, 0.5);}
 
h1 {color: #E75854;}
 
.header-background {
  left: 0px;
  max-height: 300px;
  min-height: 50px;
  position: fixed;
  top: 0px;
  width: 100%;
 }
 
/*logged in message*/
.logged_in {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  display: inline-block;
 }
 
.mockup-content {opacity: 1;}
 
.well {
  background: rgba(65, 57, 49, 0.5);
  border-color: #D1AE7A;
  bottom: 0px;
  display: block;
  position: fixed;
  width: 100%;
  z-index: 1;
 }